<div class="container">
  <h2>Create Series</h2>

  <form [formGroup]="seriesForm" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <!-- form filed for style selection -->
    <div class="form-group">
      <label for="styleInput">Style</label>
      <input
        id="styleInput"
        type="text"
        class="form-control"
        formControlName="style"
        required
        [ngbTypeahead]="searchStyle"
        (focus)="focus$.next($event.target.value)"
        (click)="click$.next($event.target.value)"
      />
    </div>

    <!-- form field for level selection -->
    <div class="form-group">
      <label for="levelInput">Level</label>
      <select
        class="form-control"
        formControlName="level"
        id="levelInput"
        required
      >
        <option *ngFor="let level of levelOptions" [value]="level.id">
          {{ level.name }}
        </option>
      </select>
    </div>

    <!-- form field for rooms -->
    <div class="form-group">
      <label for="roomInput">Rooms</label>
      <select
        class="form-control"
        formControlName="room"
        required
        id="roomInput"
      >
        <option *ngFor="let room of roomOptions" [value]="room.id">
          {{ room.name }}
        </option>
      </select>
    </div>

    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="isPartnerwork"
        id="prtnrCheck"
      />
      <label class="form-check-label" for="prtnrCheck">Partnerwork</label>
    </div>

    <div class="form-group">
      <label for="startdateInput">Start date</label>
      <div class="input-group">
        <input
          id="startdateInput"
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          formControlName="startDate"
          required
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary btn-icon"
            (click)="d.toggle()"
            type="button"
          >
            <i class="material-icons">calendar_today</i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="startTimeInput">Start time</label>
      <ngb-timepicker
        id="startTimeInput"
        formControlName="startTime"
        required
      ></ngb-timepicker>
    </div>

    <div class="form-group">
      <label for="endTimeInput">End time</label>
      <ngb-timepicker
        id="endTimeInput"
        formControlName="endTime"
        required
      ></ngb-timepicker>
    </div>

    <!-- form field for teachers -->
    <div class="form-group">
      <label for="teacher1Input">Teacher 1</label>
      <select
        class="form-control"
        formControlName="teacher1"
        required
        id="teacher1Input"
      >
        <option *ngFor="let teacher of teacherOptions" [value]="teacher.id">
          {{ teacher.firstName }} {{ teacher.lastName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="teacher2Input">Teacher 2</label>
      <select
        class="form-control"
        formControlName="teacher2"
        id="teacher2Input"
      >
        <option *ngFor="let teacher of teacherOptions" [value]="teacher.id">
          {{ teacher.firstName }} {{ teacher.lastName }}
        </option>
      </select>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!myForm.form.valid"
    >
      Submit
    </button>
  </form>
</div>
