<div class="row justify-content-around">
  <nav class="navbar navbar-expand-md navbar-light col-md-10">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logosalsa.jpg" style="height: 120px" />
    </a>
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="collapse navbar-collapse"
      id="navbarsDefault"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="classes">Our Classes</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="teachers">Teachers</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="students">Students</a>
        </li>
      </ul>

      <div class="align-self-end">
        <div *ngIf="!(isAuthenticated$ | async)" class="btn-group center">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['/authentication/register']"
                >Register</a
              >
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['/authentication/login']"
                >Login</a
              >
            </li>
          </ul>
        </div>

        <div *ngIf="isAuthenticated$ | async">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" ngbDropdown>
              <a
                class="nav-link dropdown-toggle"
                id="id01"
                href="#"
                ngbDropdownToggle
                >My Actions</a
              >
              <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
                <a
                  class="dropdown-item"
                  [routerLink]="['/authentication/profile']"
                  title="Manage"
                  >Manage Account</a
                >
                <a class="dropdown-item" routerLink="directors/createSeries"
                  >Create Series</a
                >
              </div>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a
                class="nav-link"
                [routerLink]="['/authentication/logout']"
                [state]="{ local: true }"
                title="Logout"
                >Log out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
